ADMIN_USERNAME=slobodan
ADMIN_PASSWORD=milena
SESSION_SECRET=replace_with_long_random_secret
GOOGLE_CLIENT_EMAIL=service-account@project-id.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_SPREADSHEET_ID=your_google_sheet_id
NEXT_PUBLIC_BASE_URL=http://localhost:3000
